* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: grid;
	grid-template-columns: 45px 1fr 2fr;
	gap: 1rem;
	border: 1px solid #555;
}
.textheader {
	padding-top: 1.7rem;
}

h1 {
	background-color: #333;
	color: #eee;
	padding: 1rem;
	text-align: center;
}

/******************************NAVIGATION****************************************/
.navigation {
    background-color: black;
}

.navigation ul {
	display: flex;
	column-gap: 2rem;
	justify-content: space-around;
	align-items: center;
    list-style: none;
    margin: 0;
    padding-bottom: 1.7rem;
	text-decoration: none;
}
.navigation li.current {
    background-color: #17138E;
}
.navigation a {
    text-decoration: none;
    padding: .8rem 10px;
    color: white;
    border-bottom: 1px solid #ddd;
}
.navigation a:hover {
    background-color: orange;
    color: #080C04;
    border-radius: 22px;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 0 20px #020C18;
    cursor: pointer;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Acme, Arial, sans-serif;
}

.buttons {
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: #333;
	text-align: center;
}

button {
	padding: 0.5rem 1rem;
	font-weight: 700;
}
/* .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
} */

/* img {
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
	} */

h2 {
	font-size: 1.2rem;
}

/* .list {
	display: flex;
	flex-direction: column;
} */

footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	border: 1px solid gray;
}
footer section {
	border: 1px solid gray;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
}
.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 22px;
}
.socials img {
    width: 22px;
    height: 22px;
}
.socials a:hover {
    background-color: #ddd;
}
.last {
    background-color: #eee;
    border-radius: 22px;
    padding: 1rem;
}
