/**************************WIDER SCREENS****************************/
@media only screen and (min-width: 33rem) {
    header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
    }
    header {
        grid-template-columns: 24px auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
        border-bottom: 1px solid #eee;
    }
    .navigation ul {
        display: flex;
        /* justify-content: space-between;
        align-items: center; */
    }
    .navigation a {
        border: none;
    }
    .navigation a:hover {
        border: none;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin: 1rem;
        padding: 1rem;
    }
    .std-info img {
        padding: 0;
    }
    .courses ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }
    .courses li {
        width: 100%;
    }
}