h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: #1C0080;
    /* color: lightskyblue; */
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px #020C18;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
section {
    background-color: #ffe4c4;
    color: #020C18;
    padding: 1rem;
    border: 1px solid #020C18;
}
section p {
    text-align: center;
}
section img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 0 20px #020C18;
    cursor: pointer;
}